<tr id="list-<%= list.id %>">
  <td>
    <%= link_to list.name, list %>
  </td>
  <td>
    <% if current_user.favorite_list?(list)  %>
      <!-- TODO: Create unmark feature -->
      <%= button_to 'Unmark as favorite', root_path, method: :get, class: 'btn btn-danger btn-xs' %>
    <% else  %>
      <%= button_to 'Mark as favorite', mark_favorite_list_path(list), method: :get, class: 'btn btn-success btn-xs' %>
    <% end  %>
  </td>
</tr>
