<tr id="list-<%= list.id %>">
  <td>
    <%= link_to list.name, list %>
  </td>
  <td>
    <% if current_user.favorite_list?(list)  %>
      <!-- TODO: Create unmark feature -->
      <%= link_to 'Unmark as favorite', '/' %>
    <% else  %>
      <%= link_to 'Mark as favorite', mark_favorite_list_path(list) %>
    <% end  %>
  </td>
</tr>
