<tr>
  <% if task.done? %>
  <td> <%= check_box_tag 'done', 'done', true, disabled: true %> </td>
  <td style="text-decoration: line-through"> <%= task.name %> </td>
  <% else %>
  <td> <%= check_box_tag 'done', 'done' %> </td>
  <td> <%= task.name %> </td>
  <% end %>
</tr>
