<tr>
  <% if task.done? %>
  <td class="table-text" style="text-decoration: line-through"> <%= task.name %> </td>
  <td> <%= check_box_tag 'done', 'done', true, disabled: true %> </td>
  <% else %>
  <td class="table-text"> <%= task.name %> </td>
  <td> <%= check_box_tag 'done', 'done', false, title: 'Click here to mark as Done' %> </td>
  <% end %>
</tr>
